// 
// 
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.


// Color Scheme
// Change the hex values below to alter the main color scheme.

$light-orange: #fca121;
$orange: #fc6d26;
$red-orange: #EB7740; 
$light-purple: #6e49cb;
$purple: #380d75;
$dark-gray: #2e2e2e;
// Do not change or remove the $theme-color-scheme or $theme-colors maps below

$theme-color-scheme: (
    "primary":    $light-orange,
    "primary-2":  $orange,
    "primary-3":  $red-orange
);

$theme-colors: (
    "primary":    $light-orange,
    "primary-2":  $orange,
    "primary-3":  $red-orange
);